@import "bootstrap";

#center-row {
  text-align: center;
  margin: 25px auto 25px;
}

.center-title {
  text-align: center;
  margin: 30px auto;
}

.small-gallery {
  height: 100px;
}

.left-align-but-center {
  text-align: left;
  display: inline-block;
}
